<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Suppliers</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Kota </th>
        <th>List Item</th>
      </tr>
      <% data.forEach(d=>{ %>
        <tr>
          <td>
            <%= d.id %>
          </td>
          <td>
            <%= d.name %>
          </td>
          <td>
            <%= d.kota %>
          </td>
          <% if(d.ItemId == null){ %>
          <td>no item yet</td>
        <% }else{ %>
          <%= d.Item.name %>
          <% } %>
          <td><a href="/suppliers/edit/<%= d.id %>"><button type="button" name="button">Edit</button></a></td>
          <td><a href="/suppliers/delete/<%= d.id %>"><button type="button" name="button">Delete</button></a></td>
        </tr>
        <% }) %>
    </table>
    <br>
    <a href="/suppliers/add"><button type="button" name="button">Add Suppliers</button></a>
    <br>
  </body>
</html>
